##  SQL, in jupyter


### Turki Aljrees , 2020

----

In [4]:
sqldf('SELECT * FROM LungCapData')

    LungCap Age Height Smoke Gender Caesarean
1    6.475   6  62.1   no    male   no
2   10.125  18  74.7   yes   female no
3    9.550  16  69.7   no    female yes
4   11.125  14  71.0   no    male   no
5    4.800   5  56.9   no    male   no
6    6.225  11  58.7   no    female no
7    4.950   8  63.3   no    male   yes
8    7.325  11  70.4   no    male   no
9    8.875  15  70.5   no    male   no
10   6.800  11  59.2   no    male   no
11  11.500  19  76.4   no    male   yes
12  10.925  17  71.7   no    male   no
13   6.525  12  57.5   no    male   no
14   6.000  10  61.1   no    female no
15   7.825  10  61.2   no    male   no
16   9.525  13  63.5   no    male   yes
17   7.875  15  59.2   no    male   no
18   5.050   8  56.1   no    male   no
19   7.025  11  61.2   yes   female no
20   9.525  14  70.6   no    female no
21   3.975   6  57.3   no    male   no
22   5.325   8  59.7   no    female no
23  10.025  16  72.4   no    male   no
24   8.725  11  68.0   no    male   yes
25   9.375  11  65.7   no    female no
26   8.350  12  61.3   no    male   yes
27   6.750  12  60.7   no    female no
28   9.025   9  65.6   no    male   no
29   1.125   4  48.7   no    female no
30  10.475  18  72.0   yes   female no
... ...     ... ...    ...   ...    ...
696  8.250  14  67.5   no    male   yes
697  6.375   9  59.9   no    female yes
698  6.450  16  66.5   yes   male   no
699  7.950  15  67.3   yes   female no
700  7.425  13  62.7   no    male   no
701  6.600  10  58.4   no    female no
702 10.400  14  71.9   no    female no
703  9.675  12  66.0   no    male   no
704  3.600   7  53.9   no    male   no
705  6.225  15  58.9   no    female no
706 12.425  19  73.6   no    female yes
707  9.175  15  71.1   no    male   no
708  5.275  12  58.5   no    female yes
709  6.900  15  64.5   no    female no
710  4.850  10  63.7   no    female no
711 12.325  17  73.5   no    male   no
712  4.625   5  55.6   no    female yes
713  3.425   3  51.0   no    male   yes
714  9.325  14  65.5   no    male   no
715  9.925  16  68.3   no    female no
716  8.725  19  68.4   no    female no
717  7.075  11  66.7   no    male   yes
718  8.825  16  71.3   yes   female no
719  7.175  17  68.8   no    male   yes
720  7.325   9  66.3   no    male   no
721  5.725   9  56.0   no    female no
722  9.050  18  72.0   yes   male   yes
723  3.850  11  60.5   yes   female no
724  9.825  15  64.9   no    female no
725  7.100  10  67.7   no    male   no

In [5]:
sqldf('SELECT * FROM LungCapData limit 6')

  LungCap Age Height Smoke Gender Caesarean
1  6.475   6  62.1   no    male   no
2 10.125  18  74.7   yes   female no
3  9.550  16  69.7   no    female yes
4 11.125  14  71.0   no    male   no
5  4.800   5  56.9   no    male   no
6  6.225  11  58.7   no    female no

In [6]:
#query contanitmnet 

Query1 <- sqldf('SELECT * FROM LungCapData WHERE Gender = "female"')

In [7]:
sqldf('SELECT * FROM Query1 limit 6')

  LungCap Age Height Smoke Gender Caesarean
1 10.125  18  74.7   yes   female no
2  9.550  16  69.7   no    female yes
3  6.225  11  58.7   no    female no
4  6.000  10  61.1   no    female no
5  7.025  11  61.2   yes   female no
6  9.525  14  70.6   no    female no

In [8]:
Query2 <- sqldf('SELECT * FROM Query1 WHERE Smoke = "no"')

In [9]:
sqldf('SELECT * FROM Query2 limit 6')

  LungCap Age Height Smoke Gender Caesarean
1 9.550   16  69.7   no    female yes
2 6.225   11  58.7   no    female no
3 6.000   10  61.1   no    female no
4 9.525   14  70.6   no    female no
5 5.325    8  59.7   no    female no
6 9.375   11  65.7   no    female no